// Styling for audio player (integrate later)
.audio-player {
  max-width: 350px;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 28px 28px rgba(0, 0, 0, 0.7);
  background-color: darkslategrey;
}

.imageWrapper {
  .ant-image-img {
    width: 200px;
    height: 200px;
    border-radius: 120px;
  }
}

// .track-info {
// }

.titleWrapper {
  h4.ant-typography {
    color: white;
    font-weight: 700;
    margin: 2px 0 4px;
  }
}

.artistWrapper {
  h5.ant-typography {
    color: white;
    font-weight: 300;
    margin-top: 0;
  }
}

.audio-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: 0 auto 5px;
}

.ant-btn-icon-only {
  height: auto;
  width: auto;
}

// Previous & Next
.audio-controls .prev svg,
.audio-controls .next svg {
  color: white;
  width: 30px;
  height: 30px;
  &:hover {
    color: fade(@white, 60%);
  }
}

// Play & Pause
.audio-controls .play svg,
.audio-controls .pause svg {
  width: 40px;
  height: 40px;
  color: white;
  &:hover {
    color: fade(@white, 60%);
  }
}

// Scrub Slider
.sliderWrapper {
  .ant-slider {
    height: 5px;
    margin-bottom: 10px;
    color: rgb(119, 119, 119, 1);
    &:hover {
      .ant-slider-track {
        background-color: fade(@black, 75%);
      }
      .ant-slider-handle:not(.ant-tooltip-open) {
        border-color: white;
      }
    }
  }

  .ant-slider-handle {
    width: 10px;
    height: 10px;
    margin-top: -3px;
    background-color: white;
    border-color: white;
    &:focus {
      border-color: white;
      box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
    }
  }

  .ant-slider-track {
    background-color: fade(@black, 55%);
  }
}
