.video-player-container {
  .ant-card-body {
    padding: 8px;
  }
}

.video-player {
  .ant-menu-inline {
    border: none;
  }
}

.video-player-list {
  margin-top: 8px;
}

.video-playlist-icon-container {
  display: flex;
  margin: 12px 8px 4px 8px;

  .pdf {
    color: white;
  }
}

.video-player-header {
  .ant-space {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .ant-typography {
    margin-bottom: 0;
  }
  margin: 8px 0px 12px;
}
