// Contact page container
.contact-container {
  text-align: center;

  .card-style {
    background-color: @background1;
    border-radius: 8px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.7);
    border: 1px solid fade(white, 40%);
  }

  // Adds extra margin for mobile viewing
  @media screen and (max-width: 575px) {
    margin-top: 12px;
  }
}
