// Video page container
.video-container {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  min-height: 65vh;

  .ant-space {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .media-button {
    margin-bottom: 20px;
  }

  .border {
    border: 1px solid rgba(255, 255, 255, 0.85);
  }

  // Tabs on Video Page
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: @primary-color;
  }
  .ant-tabs-tab-btn {
    font-size: 16px;
  }
}

// Video Cards container
.videos-list-container {
  max-width: 900px;
}
