// Entire app container
.app-container {
  background-color: @background1;
  min-height: 100vh;
  padding: 1%;

  // Remove padding when on a smaller screen (iPhone)
  @media (max-width: 700px) {
    padding: 0;
  }

  // Class for Layout from Ant Design
  .ant-layout {
    align-items: center;
  }

  // Ant Design Content Component
  .ant-layout-content {
    background-color: @background1;
    width: 100%;
  }
}

// Header menu
.header-menu {
  display: flex;
  text-align: center;
  justify-content: center;
}

// Only make the name bolder on the Navbar instead of the blue outline
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  font-weight: bolder;
  border: 1px solid @primary-color;
}

// Navbar - make font bolder on hover
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: @blue-6;
  border: 1px solid @divider-color;
}
