// Entire app container
.app-container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: @background1;
  color: white; // TODO: extract to typography
  height: 100vh;
  // max-width: 100vw;
  padding: 1%;

  // Remove padding when on a smaller screen (iPhone)
  @media (max-width: 700px) {
    padding: 0;
  }

  // Ant Design Content Component
  .ant-layout-content {
    background-color: @background1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Header menu
.header-menu {
  text-align: center;
  justify-content: center;
  display: flex;
}

// Only may the name bolder on the Navbar instead of the blue outline
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;
  font-weight: bolder;
}

// Pages Container
.pages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 24px 24px;
  // background-color: silver;
  // border: 1px white solid;
  // border-radius: 0% 0% 1% 1%;
}

// Allows Ant Design Carousel to be visible
.slick-list {
  max-width: 98vw;
}

.contact-container {
  width: 70%;
  max-width: 500px;
}

.bio-container {
  width: 80%;
  max-width: 500px;
}

// FooterCredits component
.footer {
  background-color: @background1;
  color: white; // TODO: extract to typography
}
