// Entire app container
.app-container {
  background-color: @background1;
  min-height: 100vh;

  // Remove padding when on a smaller screen (iPhone)
  @media (max-width: 700px) {
    padding: 0;
  }

  // Class for Layout from Ant Design
  .ant-layout {
    align-items: center;
  }

  // Keeps Navbar buttons from using elipsis
  .ant-layout-header {
    padding: 0px;
  }

  // Ant Design Content Component
  .ant-layout-content {
    background-color: @background1;
  }
}
